[submodule "MegaCore"]
	path = MegaCore
	url = https://github.com/MCUdude/MegaCore.git
[submodule "Nanit/libraries/NanitLib"]
	path = Nanit/libraries/NanitLib
	url = https://github.com/NanitRobot/NanitLib.git
